// header
$HEADER_HEIGHT: 120px;
$HEADER_SIDE_MARGIN: 30px;
$HEADER_VERTICAL_MARGIN: 10px;
// content
$CONTENT_VERTICAL_PADDING: 20px;
$CONTENT_HORIZONTAL_PADDING: 30px;
$CONTENT_PADDING: 20px;
// footer
$FOOTER_HEIGHT: 45px;
// dashboard
$DASHBOARD_CONTENT_LEFT_MARGIN: 30px;
// colors
$THEME_COLOR: #3498db;
$THEME_COLOR_DARK: #2980b9;
$DARK_COLOR: #222;
$DARK_LIGHT_COLOR: #333;
$LIGHT_COLOR: #ccc;
$LIGHTER_COLOR: #eee;
$LIGHTEST_COLOR: #f7f7f7;

$TEXT_DARK_COLOR: #444;
$TEXT_LIGHT_COLOR: #eee;

$WARNING_BACKGROUND_COLOR: #fcf8e3;
$WARNING_TEXT_COLOR: #8a6d3b;
$WARNING_BORDER_COLOR: #faebcc;

$FORM_WARNING_COLOR: #bba10e;

$WHITE_COLOR: #ffffff;
$GREEN_COLOR: #2eb91d;
$INPUT_BACKGROUND_COLOR: $LIGHTEST_COLOR;
$VALIDATION_COLOR: #a94442;

// sidebar
$SIDEBAR_WIDTH: 220px;
$SIDEBAR_PADDING: 5px;
$SIDEBAR_MARGIN_RIGHT: 20px;
// input
$INPUT_WIDTH: 200px;
$INPUT_BORDER_WIDTH: 1px;
// misc
$DASHBOARD_CONTENT_LEFT_OFFSET:
        #{$SIDEBAR_WIDTH} + 2 * #{$SIDEBAR_PADDING} + #{$SIDEBAR_MARGIN_RIGHT} + #{$DASHBOARD_CONTENT_LEFT_MARGIN};
$DONATION_FORM_INPUT_WIDTH_MAX: 800px;
$DONATION_FORM_INPUT_WIDTH_MIN: 200px;
$FONT_RELATIVE_DIRECTORY: '../../resources/fonts';

